.userProfile {
    width: 100%;
    height: 140vh;
    background: #fce3fe;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
  }
  .userProfile-container {
    width: 380px;
    height: 900px;
    background: white;
    margin: auto;
    padding: 20px 50px;
  }
  .userProfile-container h1 {
    margin: 20px 0px;
  }
  .userProfile-fields {
    display: flex;
    flex-direction: column;
    gap: 19px;
    margin-top: 30px;
  }
  .userProfile-fields input {
    height: 42px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
    columns: #5c5c5c;
    font-size: 16px;
    margin-top: 5px;
  }
  .userProfile-container button {
    width: 380px;
    height: 52px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  .userProfile-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
  }
  .userProfile-login span {
    color: #ff4141;
    font-weight: 600;
  }

  .div form label{
    color: #ff4141;
  }